.input-icon {
  position: relative;
}

.input-icon .form-control.form-control-sm + .input-icon__icon {
  width: 2.7rem;
}

.input-icon .form-control.form-control-sm + .input-icon__icon [class^="fa-"],
.input-icon .form-control.form-control-sm + .input-icon__icon [class*=" fa-"] {
  font-size: 1em;
}

.input-icon .form-control.form-control-sm + .input-icon__icon [class^="la-"],
.input-icon .form-control.form-control-sm + .input-icon__icon [class*=" la-"] {
  font-size: 1.1em;
}

.input-icon .form-control.form-control-lg + .input-icon__icon {
  width: 4.2rem;
}

.input-icon .form-control.form-control-lg + .input-icon__icon [class^="fa-"],
.input-icon .form-control.form-control-lg + .input-icon__icon [class*=" fa-"] {
  font-size: 1.3em;
}

.input-icon .form-control.form-control-lg + .input-icon__icon [class^="la-"],
.input-icon .form-control.form-control-lg + .input-icon__icon [class*=" la-"] {
  font-size: 1.6em;
}

.input-icon.input-icon--left .form-control {
  padding-left: 2.8rem;
}

.input-icon.input-icon--left .form-control.form-control-sm {
  padding-left: 2.5rem;
}

.input-icon.input-icon--left .form-control.form-control-lg {
  padding-left: 3.6rem;
}

.input-icon.input-icon--right .form-control {
  padding-right: 2.8rem;
}

.input-icon.input-icon--right .form-control.form-control-sm {
  padding-right: 2.5rem;
}

.input-icon.input-icon--right .form-control.form-control-lg {
  padding-right: 3.6rem;
}

.input-icon > .input-icon__icon {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.2rem;
  height: 100%;
}

.input-icon > .input-icon__icon.input-icon__icon--left {
  left: 0;
}

.input-icon > .input-icon__icon.input-icon__icon--right {
  right: 0;
}

.input-icon > .input-icon__icon > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.input-icon > .input-icon__icon > span svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #74788d;
}

.input-icon > .input-icon__icon [class^="fa-"],
.input-icon > .input-icon__icon [class*=" fa-"] {
  font-size: 1.2em;
}

.input-icon > .input-icon__icon [class^="la-"],
.input-icon > .input-icon__icon [class*=" la-"] {
  font-size: 1.4em;
}

.input--rounded {
  border-radius: 4px;
}

.input--pill {
  border-radius: 2rem;
}
/*# sourceMappingURL=style.css.map */