.input-icon {
  position: relative;

  & .form-control.form-control-sm + .input-icon__icon {
    width: 2.7rem;

    & [class^="fa-"],
    & [class*=" fa-"] {
      font-size: 1em;
    }

    & [class^="la-"],
    & [class*=" la-"] {
      font-size: 1.1em;
    }
  }

  & .form-control.form-control-lg + .input-icon__icon {
    width: 4.2rem;

    & [class^="fa-"],
    & [class*=" fa-"] {
      font-size: 1.3em;
    }

    & [class^="la-"],
    & [class*=" la-"] {
      font-size: 1.6em;
    }
  }

  &.input-icon--left {
    & .form-control {
      padding-left: 2.8rem;

      &.form-control-sm {
        padding-left: 2.5rem;
      }

      &.form-control-lg {
        padding-left: 3.6rem;
      }
    }
  }

  &.input-icon--right {
    & .form-control {
      padding-right: 2.8rem;

      &.form-control-sm {
        padding-right: 2.5rem;
      }

      &.form-control-lg {
        padding-right: 3.6rem;
      }
    }
  }

  & > .input-icon__icon {
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    width: 3.2rem;
    height: 100%;

    &.input-icon__icon--left {
      left: 0;
    }

    &.input-icon__icon--right {
      right: 0;
    }

    & > span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      & svg {
        display: flex;
        align-items: center;
        justify-content: center;

        color: #74788d;
      }
    }

    & [class^="fa-"],
    & [class*=" fa-"] {
      font-size: 1.2em;
    }

    & [class^="la-"],
    & [class*=" la-"] {
      font-size: 1.4em;
    }
  }
}

.input--rounded {
  border-radius: 4px;
}

.input--pill {
  border-radius: 2rem;
}
