@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}

.custom.placeholder {
  position: static;
  overflow: hidden;
  animation: placeholderShimmer 2s linear;
  animation-iteration-count: infinite;
  background-color: #fff;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.08) 0,
    rgba(0, 0, 0, 0.15) 15%,
    rgba(0, 0, 0, 0.08) 30%
  );
  background-size: 1200px 100%;
  max-width: 30rem;

  & + & {
    margin-top: 2rem;
    animation-delay: 0.15s;
  }

  & + & + & {
    animation-delay: 0.3s;
  }

  & + & + & + & {
    animation-delay: 0.45s;
  }

  & + & + & + & + & {
    animation-delay: 0.6s;
  }

  &,
  & > :before,
  & .image.header:after,
  & .line,
  & .line:after {
    background-color: #fff;
  }

  /* Image */
  & .image:not(.header):not(.ui) {
    height: 100px;
  }

  & .square.image:not(.header) {
    height: 0px;
    overflow: hidden;
    padding-top: 100%;
  }

  & .rectangular.image:not(.header) {
    height: 0px;
    overflow: hidden;
    /* 4/3 aspect ratio */
    padding-top: 75%;
  }

  /* Lines */
  & .line {
    position: relative;
    height: 0.85714286em;
  }

  & .line:before,
  & .line:after {
    content: "";
    top: 100%;
    position: absolute;
    background-color: inherit;
  }

  & .line:before {
    left: 0px;
  }

  & .line:after {
    right: 0px;
  }

  /* Any Lines */
  & .line {
    margin-bottom: 0.5em;
  }

  & .line:before,
  & .line:after {
    height: 0.5em;
  }

  & .line:not(:first-child) {
    margin-top: 0.5em;
  }

  /* Header Image + 2 Lines */
  & .header {
    position: relative;
    overflow: hidden;
  }

  /* Line Outdent */
  & .line:nth-child(1):after {
    width: 0%;
  }

  & .line:nth-child(2):after {
    width: 50%;
  }

  & .line:nth-child(3):after {
    width: 10%;
  }

  & .line:nth-child(4):after {
    width: 35%;
  }

  & .line:nth-child(5):after {
    width: 65%;
  }

  /* Header Line 1 & 2*/
  & .header .line {
    margin-bottom: 0.64285714em;
  }

  & .header .line:before,
  & .header .line:after {
    height: 0.64285714em;
  }

  & .header .line:not(:first-child) {
    margin-top: 0.64285714em;
  }

  & .header .line:after {
    width: 20%;
  }

  & .header .line:nth-child(2):after {
    width: 60%;
  }

  /* Image Header */
  & .image.header .line {
    margin-left: 3em;
  }

  & .image.header .line:before {
    width: 0.71428571rem;
  }

  & .image.header:after {
    content: "";
    display: block;
    height: 0.85714286em;
    margin-left: 3em;
  }

  /* Spacing */
  & .image .line:first-child,
  & .paragraph .line:first-child,
  & .header .line:first-child {
    height: 0.01px;
  }

  & .image:not(:first-child):before,
  & .paragraph:not(:first-child):before,
  & .header:not(:first-child):before {
    content: "";
    height: 1.42857143em;
    display: block;
  }

  /* Sizes */
  & .full.line.line.line:after {
    width: 0%;
  }

  & .very.long.line.line.line:after {
    width: 10%;
  }

  & .long.line.line.line:after {
    width: 35%;
  }

  & .medium.line.line.line:after {
    width: 50%;
  }

  & .short.line.line.line:after {
    width: 65%;
  }

  & .very.short.line.line.line:after {
    width: 80%;
  }

  /* Fluid */
  &.fluid {
    max-width: none;
  }
}
