@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.custom.placeholder {
  position: static;
  overflow: hidden;
  -webkit-animation: placeholderShimmer 2s linear;
          animation: placeholderShimmer 2s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.08)), color-stop(15%, rgba(0, 0, 0, 0.15)), color-stop(30%, rgba(0, 0, 0, 0.08)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.08) 0, rgba(0, 0, 0, 0.15) 15%, rgba(0, 0, 0, 0.08) 30%);
  background-size: 1200px 100%;
  max-width: 30rem;
  /* Image */
  /* Lines */
  /* Any Lines */
  /* Header Image + 2 Lines */
  /* Line Outdent */
  /* Header Line 1 & 2*/
  /* Image Header */
  /* Spacing */
  /* Sizes */
  /* Fluid */
}

.custom.placeholder + .custom.placeholder {
  margin-top: 2rem;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.custom.placeholder + .custom.placeholder + .custom.placeholder {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.custom.placeholder + .custom.placeholder + .custom.placeholder + .custom.placeholder {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.custom.placeholder + .custom.placeholder + .custom.placeholder + .custom.placeholder + .custom.placeholder {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.custom.placeholder,
.custom.placeholder > :before,
.custom.placeholder .image.header:after,
.custom.placeholder .line,
.custom.placeholder .line:after {
  background-color: #fff;
}

.custom.placeholder .image:not(.header):not(.ui) {
  height: 100px;
}

.custom.placeholder .square.image:not(.header) {
  height: 0px;
  overflow: hidden;
  padding-top: 100%;
}

.custom.placeholder .rectangular.image:not(.header) {
  height: 0px;
  overflow: hidden;
  /* 4/3 aspect ratio */
  padding-top: 75%;
}

.custom.placeholder .line {
  position: relative;
  height: 0.85714286em;
}

.custom.placeholder .line:before,
.custom.placeholder .line:after {
  content: "";
  top: 100%;
  position: absolute;
  background-color: inherit;
}

.custom.placeholder .line:before {
  left: 0px;
}

.custom.placeholder .line:after {
  right: 0px;
}

.custom.placeholder .line {
  margin-bottom: 0.5em;
}

.custom.placeholder .line:before,
.custom.placeholder .line:after {
  height: 0.5em;
}

.custom.placeholder .line:not(:first-child) {
  margin-top: 0.5em;
}

.custom.placeholder .header {
  position: relative;
  overflow: hidden;
}

.custom.placeholder .line:nth-child(1):after {
  width: 0%;
}

.custom.placeholder .line:nth-child(2):after {
  width: 50%;
}

.custom.placeholder .line:nth-child(3):after {
  width: 10%;
}

.custom.placeholder .line:nth-child(4):after {
  width: 35%;
}

.custom.placeholder .line:nth-child(5):after {
  width: 65%;
}

.custom.placeholder .header .line {
  margin-bottom: 0.64285714em;
}

.custom.placeholder .header .line:before,
.custom.placeholder .header .line:after {
  height: 0.64285714em;
}

.custom.placeholder .header .line:not(:first-child) {
  margin-top: 0.64285714em;
}

.custom.placeholder .header .line:after {
  width: 20%;
}

.custom.placeholder .header .line:nth-child(2):after {
  width: 60%;
}

.custom.placeholder .image.header .line {
  margin-left: 3em;
}

.custom.placeholder .image.header .line:before {
  width: 0.71428571rem;
}

.custom.placeholder .image.header:after {
  content: "";
  display: block;
  height: 0.85714286em;
  margin-left: 3em;
}

.custom.placeholder .image .line:first-child,
.custom.placeholder .paragraph .line:first-child,
.custom.placeholder .header .line:first-child {
  height: 0.01px;
}

.custom.placeholder .image:not(:first-child):before,
.custom.placeholder .paragraph:not(:first-child):before,
.custom.placeholder .header:not(:first-child):before {
  content: "";
  height: 1.42857143em;
  display: block;
}

.custom.placeholder .full.line.line.line:after {
  width: 0%;
}

.custom.placeholder .very.long.line.line.line:after {
  width: 10%;
}

.custom.placeholder .long.line.line.line:after {
  width: 35%;
}

.custom.placeholder .medium.line.line.line:after {
  width: 50%;
}

.custom.placeholder .short.line.line.line:after {
  width: 65%;
}

.custom.placeholder .very.short.line.line.line:after {
  width: 80%;
}

.custom.placeholder.fluid {
  max-width: none;
}
/*# sourceMappingURL=style.css.map */