.btn {
  &:focus {
    box-shadow: none !important;
  }

  &.btn--rounded {
    border-radius: 4px;
  }

  &.btn--pill {
    border-radius: 2rem;
  }

  &.btn--circle {
    border-radius: 50%;
  }

  & [class^="fa-"],
  & [class*=" fa-"] {
    font-size: 1.2rem;
  }

  & [class^="la-"],
  & [class*=" la-"] {
    font-size: 1.5rem;
  }

  i {
    vertical-align: middle;
    line-height: 0;
  }

  &.btn__icon--left i {
    padding-right: 0.5rem;
  }

  &.btn__icon--right i {
    padding-left: 0.5rem;
  }

  &.btn__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.btn.btn__icon.btn-sm,
.btn-group-sm > .btn.btn__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.btn.btn__icon {
  width: 3rem;
  height: 3rem;
}

.btn.btn__icon.btn-lg,
.btn-group-lg > .btn.btn__icon {
  height: 4rem;
  width: 4rem;
}

.btn.btn-sm i,
.btn-group-sm > .btn i {
  padding-right: 0.35rem;
}

.btn.btn-sm [class^="fa-"],
.btn-group-sm > .btn [class^="fa-"],
.btn.btn-sm [class*=" fa-"],
.btn-group-sm > .btn [class*=" fa-"] {
  font-size: 1rem;
}

.btn.btn-lg [class^="fa-"],
.btn-group-lg > .btn [class^="fa-"],
.btn.btn-lg [class*=" fa-"],
.btn-group-lg > .btn [class*=" fa-"] {
  font-size: 1.4rem;
}

.btn.btn-lg i,
.btn-group-lg > .btn i {
  padding-right: 0.75rem;
}

.btn.btn-sm [class^="la-"],
.btn-group-sm > .btn [class^="la-"],
.btn.btn-sm [class*=" la-"],
.btn-group-sm > .btn [class*=" la-"] {
  font-size: 1.3rem;
}

.btn.btn-lg [class^="la-"],
.btn-group-lg > .btn [class^="la-"],
.btn.btn-lg [class*=" la-"],
.btn-group-lg > .btn [class*=" la-"] {
  font-size: 1.7rem;
}

.btn.btn__icon i {
  padding: 0;
  margin: 0;
  line-height: 0;
}

[btn-click-animating="true"],
[btn-click-animating-without-extra-node="true"] {
  position: relative;
}

[btn-click-animating-without-extra-node="true"]::after,
.btn-click-animating-node {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: inherit;
  box-shadow: 0 0 0 0 var(--wave-shadow-color);
  opacity: 0.2;
  animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1),
    waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-fill-mode: forwards;
  content: "";
  pointer-events: none;
}

@keyframes waveEffect {
  100% {
    box-shadow: 0 0 0 #1890ff;
    box-shadow: 0 0 0 6px var(--wave-shadow-color);
  }
}

@keyframes fadeEffect {
  100% {
    opacity: 0;
  }
}
