.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn.btn--rounded {
  border-radius: 4px;
}

.btn.btn--pill {
  border-radius: 2rem;
}

.btn.btn--circle {
  border-radius: 50%;
}

.btn [class^="fa-"],
.btn [class*=" fa-"] {
  font-size: 1.2rem;
}

.btn [class^="la-"],
.btn [class*=" la-"] {
  font-size: 1.5rem;
}

.btn i {
  vertical-align: middle;
  line-height: 0;
}

.btn.btn__icon--left i {
  padding-right: 0.5rem;
}

.btn.btn__icon--right i {
  padding-left: 0.5rem;
}

.btn.btn__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.btn.btn__icon.btn-sm,
.btn-group-sm > .btn.btn__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.btn.btn__icon {
  width: 3rem;
  height: 3rem;
}

.btn.btn__icon.btn-lg,
.btn-group-lg > .btn.btn__icon {
  height: 4rem;
  width: 4rem;
}

.btn.btn-sm i,
.btn-group-sm > .btn i {
  padding-right: 0.35rem;
}

.btn.btn-sm [class^="fa-"],
.btn-group-sm > .btn [class^="fa-"],
.btn.btn-sm [class*=" fa-"],
.btn-group-sm > .btn [class*=" fa-"] {
  font-size: 1rem;
}

.btn.btn-lg [class^="fa-"],
.btn-group-lg > .btn [class^="fa-"],
.btn.btn-lg [class*=" fa-"],
.btn-group-lg > .btn [class*=" fa-"] {
  font-size: 1.4rem;
}

.btn.btn-lg i,
.btn-group-lg > .btn i {
  padding-right: 0.75rem;
}

.btn.btn-sm [class^="la-"],
.btn-group-sm > .btn [class^="la-"],
.btn.btn-sm [class*=" la-"],
.btn-group-sm > .btn [class*=" la-"] {
  font-size: 1.3rem;
}

.btn.btn-lg [class^="la-"],
.btn-group-lg > .btn [class^="la-"],
.btn.btn-lg [class*=" la-"],
.btn-group-lg > .btn [class*=" la-"] {
  font-size: 1.7rem;
}

.btn.btn__icon i {
  padding: 0;
  margin: 0;
  line-height: 0;
}

[btn-click-animating="true"],
[btn-click-animating-without-extra-node="true"] {
  position: relative;
}

[btn-click-animating-without-extra-node="true"]::after,
.btn-click-animating-node {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 0 var(--wave-shadow-color);
          box-shadow: 0 0 0 0 var(--wave-shadow-color);
  opacity: 0.2;
  -webkit-animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
          animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  pointer-events: none;
}

@-webkit-keyframes waveEffect {
  100% {
    -webkit-box-shadow: 0 0 0 #1890ff;
            box-shadow: 0 0 0 #1890ff;
    -webkit-box-shadow: 0 0 0 6px var(--wave-shadow-color);
            box-shadow: 0 0 0 6px var(--wave-shadow-color);
  }
}

@keyframes waveEffect {
  100% {
    -webkit-box-shadow: 0 0 0 #1890ff;
            box-shadow: 0 0 0 #1890ff;
    -webkit-box-shadow: 0 0 0 6px var(--wave-shadow-color);
            box-shadow: 0 0 0 6px var(--wave-shadow-color);
  }
}

@-webkit-keyframes fadeEffect {
  100% {
    opacity: 0;
  }
}

@keyframes fadeEffect {
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */