.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  font-family: inherit;
  min-height: 40px;
  color: rgba(0, 0, 0, 0.65);
}

.menu.menu--small {
  font-size: 0.95rem;
}

.menu.menu--medium {
  font-size: 1rem;
}

.menu.menu--large {
  font-size: 1.25rem;
}

.menu.menu--large.menu--vertical .menu__item::after {
  border-right-width: 5px;
}

.menu.menu--huge {
  font-size: 1.5rem;
}

.menu.menu--dark {
  background: #001529;
}

.menu:first-child {
  margin-top: 0;
}

.menu:last-child {
  margin-bottom: 0;
}

.menu .menu {
  margin: 0;
}

> .menu:not(.vertical) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu:not(.vertical) .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu__item.menu__item--header,
.menu.menu--vertical .menu__item.menu__item--header {
  margin: 0;
  text-transform: normal;
  font-weight: 700;
}

.menu.menu--vertical {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.menu.menu--vertical.menu--icon {
  display: inline-block;
}

.menu.menu--vertical .menu__item {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.menu.menu--vertical .menu__item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid #2c77f4;
  -webkit-transform: scaleY(0.0001);
          transform: scaleY(0.0001);
  opacity: 0;
  -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
}

.menu.menu--vertical .menu__item.menu__item--active {
  color: #2c77f4;
  background: #eaf1fe;
}

.menu.menu--vertical .menu__item.menu__item--active::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
  -webkit-transition: opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu.menu--vertical .menu__item:hover {
  color: #2c77f4;
}

.menu.menu--vertical .menu__item > i,
.menu.menu--vertical .menu__item > svg {
  opacity: 0.9;
  margin: 0 10px 0 0;
}

.layout__sidebar:not(.layout__sidebar-pushable) .menu__item.menu--vertical.menu--collapsed .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layout__sidebar:not(.layout__sidebar-pushable) .menu__item.menu--vertical.menu--collapsed .menu__item > i,
.layout__sidebar:not(.layout__sidebar-pushable) .menu__item.menu--vertical.menu--collapsed .menu__item > svg {
  font-size: 1.5rem;
  line-height: 40px;
}

.layout__sidebar:not(.layout__sidebar-pushable) .menu__item.menu--vertical.menu--collapsed .menu__item > span {
  display: none;
}
/*# sourceMappingURL=style.css.map */