@import "../global/all.scss";

$prefix-pushable: "layout__sidebar-pushable";

$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);

$prefix: "menu";
$prefix-vertical: "menu--vertical";
$prefix-icon: "menu--icon";
$prefix-header: "menu--header";
$prefix-collapsed: "menu--collapsed";
$prefix-item: "menu__item";
$prefix-item-header: "menu__item--header";
$prefix-item-active: "menu__item--active";

$menu-item-color: rgba($black, 0.65);
$menu-highlight-color: $primary;
$menu-item-active-bg: tint($primary, 90%);
$menu-item-active-border-width: 3px;

// menu
.#{$prefix} {
  display: flex;
  margin: 1rem 0;
  font-family: inherit;
  min-height: 40px;
  color: $menu-item-color;

  &.#{$prefix}--small {
    font-size: 0.95rem;
  }

  &.#{$prefix}--medium {
    font-size: 1rem;
  }

  &.#{$prefix}--large {
    font-size: 1.25rem;

    &.#{$prefix-vertical} {
      & .#{$prefix-item} {
        &::after {
          border-right-width: 5px;
        }
      }
    }
  }

  &.#{$prefix}--huge {
    font-size: 1.5rem;
  }

  &.#{$prefix}--dark {
    background: #001529;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  // sub-menu
  & & {
    margin: 0;
  }

  &:not(.vertical) {
    > & {
      display: flex;
    }

    .#{$prefix-item} {
      display: flex;
      align-items: center;
    }
  }

  & .#{$prefix-item}.#{$prefix-item-header},
  &.#{$prefix-vertical} .#{$prefix-item}.#{$prefix-item-header} {
    margin: 0;
    text-transform: normal;
    font-weight: 700;
  }

  &.#{$prefix-vertical} {
    display: block;
    flex-direction: column;
    width: 100%;

    &.#{$prefix-icon} {
      display: inline-block;
    }

    & .#{$prefix-item} {
      position: relative;
      display: block;
      margin-top: 4px;
      margin-bottom: 4px;
      padding: 0 16px;
      overflow: hidden;
      font-size: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-right: $menu-item-active-border-width solid $menu-highlight-color;
        transform: scaleY(0.0001);
        opacity: 0;
        transition: transform 0.15s $ease-out, opacity 0.15s $ease-out;
        content: "";
      }

      &.#{$prefix-item}--active {
        color: $menu-highlight-color;
        background: $menu-item-active-bg;

        &::after {
          transform: scaleY(1);
          opacity: 1;
          transition: transform 0.15s $ease-in-out, opacity 0.15s $ease-in-out;
        }
      }

      &:hover {
        color: $menu-highlight-color;
      }

      // &.#{$prefix-item-active} {

      // }

      // icon
      > i,
      > svg {
        opacity: 0.9;
        margin: 0 10px 0 0;
      }
    }
  }
}

.layout__sidebar:not(.#{$prefix-pushable}) {
  .#{$prefix-item} {
    &.#{$prefix-vertical} {
      &.#{$prefix-collapsed} {
        .#{$prefix-item} {
          display: flex;
          justify-content: center;

          > i,
          > svg {
            font-size: 1.5rem;
            line-height: 40px;
          }

          > span {
            display: none;
          }
        }
      }
    }
  }
}
