.form--loading {
  /* Pseudo */
  /* Positioning */
  position: relative;
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
  cursor: default;
  pointer-events: none;
}

.form--loading::before {
  /* Pseudo */
  content: "";
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  /* Display & Box Model */
  width: 100%;
  height: 100%;
  /* Color */
  background: rgba(255, 255, 255, 0.8);
  /* Text */
  /* Other */
}

.form--loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 101;
  margin: -1.5em 0 0 -1.5em;
  width: 3em;
  height: 3em;
  border-color: #396afc rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.25em;
  border-radius: 500rem;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
  visibility: visible;
  -webkit-animation: form-spin 0.6s linear;
          animation: form-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes form-spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes form-spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */