.tabs {
  display: flex;
  justify-content: flex-start;
}

.tab {
  background: #f9fbfa;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  padding: 8px 16px;

  &:last-child {
    border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &.active {
    background: #fff;
    border-bottom: 1px solid #fff;
  }
}

.tab-content {
  padding: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -1px;
  border-top-left-radius: 0;
}
