.nav-scroller-nav {
  display: flex;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;
  overflow-y: hidden;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.25);
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .nav-scroller-content {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    .nav-scroller-item {
      flex: 1 0 auto;
      display: block;
      padding: 0.25rem 1rem;
      margin: 0.25rem 0;
    }
  }
}
