.nav-scroller-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;
  overflow-y: hidden;
}

.nav-scroller-nav:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}

.nav-scroller-nav:hover::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.nav-scroller-nav .nav-scroller-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.nav-scroller-nav .nav-scroller-content .nav-scroller-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: block;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0;
}
/*# sourceMappingURL=styles.css.map */