.sidebar--fixed {
  position: relative;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid #e8e8e8;
}

.profile-display .btn {
  font-size: 1.25rem;
}

.main-header {
  z-index: 1;
  border-bottom: 1px solid #ddd;
}
.main-header .main-header__bars {
  margin-right: 1.5rem;
  font-size: 1.7rem;
  cursor: pointer;
}
.main-header .main-header__title {
  display: block;
  padding-right: 12px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 1.5rem;
}
.main-header .main-header__search {
  font-size: 1.1rem;
  flex: 0.75;
}
.main-header .main-header__search i {
  transform: scaleX(-1);
}
.main-header .main-header__delete-btn {
  font-size: 1.7rem;
}
.main-header .main-header__delete-btn div {
  cursor: pointer;
}
.main-header .main-header__delete-btn div:hover {
  color: #dc3545;
}
.main-header .main-header__back-btn {
  font-size: 1.7rem;
  cursor: pointer;
}

.main-content {
  min-width: 1024px;
}
.main-content .main-content-wrapper {
  height: calc(100vh - 64px);
}

/*# sourceMappingURL=style.css.map */
