.sidebar--fixed {
  position: relative;
  height: 100vh;
  overflow: auto;

  border-right: 1px solid #e8e8e8;
}

.profile-display {
  .btn {
    font-size: 1.25rem;
  }
}

.main-header {
  z-index: 1;
  border-bottom: 1px solid #ddd;
  // box-shadow: 0 2px 8px #f0f1f2;

  & #{&}__bars {
    margin-right: 1.5rem;
    font-size: 1.7rem;
    cursor: pointer;
  }

  & #{&}__title {
    display: block;
    padding-right: 12px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 1.5rem;
  }

  & #{&}__search {
    font-size: 1.1rem;
    flex: 0.75;

    & i {
      transform: scaleX(-1);
    }
  }

  & #{&}__delete-btn {
    font-size: 1.7rem;

    div {
      cursor: pointer;

      &:hover {
        color: #dc3545;
      }
    }
  }

  & #{&}__back-btn {
    font-size: 1.7rem;
    cursor: pointer;
  }
}

.main-content {
  min-width: 1024px;

  & .main-content-wrapper {
    height: calc(100vh - 64px);
  }
}
