@import "../global/all";

$prefix: "custom-spinner";

.#{$prefix} {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    box-shadow: 0 0 0 1px transparent;

    & {
      width: 24px;
      height: 24px;
      margin-top: -12px;
    }
  }

  &.#{$prefix}-sm {
    width: 16px;
    height: 16px;

    &::before {
      width: 16px;
      height: 16px;
      margin-top: -8px;
    }
  }

  &.#{$prefix}-lg {
    width: 36px;
    height: 36px;

    &::before {
      width: 36px;
      height: 36px;
      margin-top: -18px;
    }
  }

  &.#{$prefix}-xl {
    width: 50px;
    height: 50px;

    &:before {
      width: 50px;
      height: 50px;
      margin-top: -25px;
    }
  }
}

@each $color, $value in $theme-colors {
  .#{$prefix}.#{$prefix}-#{$color}::before {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top-color: $value;
  }
}

// &::after {
//     content: "";

//     position: absolute;
//     top: 50%;
//     left: 50%;

//     margin: -1.5em 0 0 -1.5em;
//     width: 3em;
//     height: 3em;
//     border-color: #396afc rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1)
//       rgba(0, 0, 0, 0.1);
//     border-style: solid;
//     border-width: 0.25em;
//     border-radius: 500rem;
//     box-shadow: 0 0 0 1px transparent;
//     visibility: visible;

//     animation: form-spin 0.6s linear;
//     animation-iteration-count: infinite;
//   }

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes form-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
