.custom-spinner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.custom-spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  -webkit-animation: spin 0.6s linear infinite;
          animation: spin 0.6s linear infinite;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
}

.custom-spinner::before {
  width: 24px;
  height: 24px;
  margin-top: -12px;
}

.custom-spinner.custom-spinner-sm {
  width: 16px;
  height: 16px;
}

.custom-spinner.custom-spinner-sm::before {
  width: 16px;
  height: 16px;
  margin-top: -8px;
}

.custom-spinner.custom-spinner-lg {
  width: 36px;
  height: 36px;
}

.custom-spinner.custom-spinner-lg::before {
  width: 36px;
  height: 36px;
  margin-top: -18px;
}

.custom-spinner.custom-spinner-xl {
  width: 50px;
  height: 50px;
}

.custom-spinner.custom-spinner-xl:before {
  width: 50px;
  height: 50px;
  margin-top: -25px;
}

.custom-spinner.custom-spinner-primary::before {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #2c77f4;
}

.custom-spinner.custom-spinner-secondary::before {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #6c757d;
}

.custom-spinner.custom-spinner-success::before {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #0abb87;
}

.custom-spinner.custom-spinner-info::before {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #5578eb;
}

.custom-spinner.custom-spinner-warning::before {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #ffb822;
}

.custom-spinner.custom-spinner-danger::before {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #dc3545;
}

.custom-spinner.custom-spinner-light::before {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #f8f9fa;
}

.custom-spinner.custom-spinner-dark::before {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #343a40;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes form-spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes form-spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */