.layout {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* fix firefox can't set height smaller than content on flex item */
  min-height: 0;
  background: #f0f2f5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.layout.layout--with-sidebar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.layout.layout--with-sidebar > .layout,
.layout.layout--with-sidebar > .layout-content {
  overflow-x: hidden;
}

.layout__header,
.layout__footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.layout__header {
  height: 64px;
  padding: 0 50px;
  background: #001529;
  line-height: 64px;
}

.layout__footer {
  padding: 24px 50px;
  color: #212529;
  background: #f0f2f5;
  font-size: 1rem;
}

.layout__content {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  /* fix firefox can't set height smaller than content on flex item */
  min-height: 0;
}

.layout__sidebar {
  position: relative;
  /* fix firefox can't set width smaller than content on flex item */
  min-width: 0;
  background: #001529;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.layout__sidebar__children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
}

.layout__sidebar--has-trigger {
  padding-bottom: 48px;
}

.layout__sidebar--right {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.layout__sidebar--trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  background: #002140;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.layout__sidebar.layout__sidebar--collapsed.layout__sidebar--pushable + .layout,
.layout__sidebar.layout__sidebar--collapsed.layout__sidebar--pushable
  + .layout__content {
  left: 0;
}

.layout__sidebar.layout__sidebar--pushable {
  position: relative;
}

.layout__sidebar.layout__sidebar--pushable + .layout,
.layout__sidebar.layout__sidebar--pushable + .layout__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.layout__sidebar__zero-width > * {
  overflow: hidden;
}

.layout__sidebar__zero-width--trigger {
  position: absolute;
  top: 64px;
  right: -36px;
  width: 36px;
  height: 42px;
  border-radius: 0 3px 3px 0;
  color: #fff;
  background: #001529;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.layout__sidebar__zero-width--trigger:hover {
  background: #1a2c3e;
}

.layout__sidebar__zero-width--trigger--right {
  left: -36px;
}

.layout__sidebar--light {
  background: #fff;
}

.layout__sidebar--light .layout__sidebar--trigger {
  color: #212529;
  background: #fff;
}

.layout__sidebar--light .layout__sidebar__zero-width--trigger {
  color: #212529;
  background: #fff;
}
/*# sourceMappingURL=style.css.map */
