@import "../global/all";

$border-radius-base: 3px;

$layout-body-background: #f0f2f5;
$layout-header-background: #001529;
$layout-footer-background: $layout-body-background;
$layout-header-height: 64px;
$layout-header-padding: 0 50px;
$layout-footer-padding: 24px 50px;
$layout-sidebar-background: $layout-header-background;
$layout-trigger-height: 48px;
$layout-trigger-background: #002140;
$layout-trigger-color: #fff;
$layout-zero-trigger-width: 36px;
$layout-zero-trigger-height: 42px;

$text-color: color-yiq($layout-trigger-color);

// Layout light theme
$layout-sidebar-background-light: #fff;
$layout-trigger-background-light: #fff;
$layout-trigger-color-light: $text-color;

// Layout dark theme

$layout-prefix: "layout";

.#{$layout-prefix} {
  position: relative;

  display: flex;
  flex: auto;
  flex-direction: column;
  /* fix firefox can't set height smaller than content on flex item */
  min-height: 0;

  background: $layout-body-background;

  transition: all 0.2s;

  &.#{$layout-prefix}--with-sidebar {
    flex-direction: row;

    > .#{$layout-prefix},
    > .#{$layout-prefix}-content {
      overflow-x: hidden;
    }
  }

  &__header,
  &__footer {
    flex: 0 0 auto;
  }

  &__header {
    height: $layout-header-height;
    padding: $layout-header-padding;

    background: $layout-header-background;

    line-height: $layout-header-height;
  }

  &__footer {
    padding: $layout-footer-padding;

    color: $text-color;
    background: $layout-footer-background;

    font-size: $font-size-base;
  }

  &__content {
    flex: auto;
    /* fix firefox can't set height smaller than content on flex item */
    min-height: 0;
  }

  &__sidebar {
    position: relative;

    /* fix firefox can't set width smaller than content on flex item */
    min-width: 0;

    background: $layout-sidebar-background;

    transition: all 0.2s;

    &__children {
      height: 100%;
      margin-top: -0.1px;
      // Hack for fixing margin collaspe bug
      // https://github.com/ant-design/ant-design/issues/7967
      // solution from https://stackoverflow.com/a/33132624/3040605
      padding-top: 0.1px;
    }

    &--has-trigger {
      padding-bottom: $layout-trigger-height;
    }

    &--right {
      order: 1;
    }

    &--trigger {
      position: fixed;
      bottom: 0;
      z-index: 1;

      height: $layout-trigger-height;

      color: $layout-trigger-color;
      background: $layout-trigger-background;

      line-height: $layout-trigger-height;
      text-align: center;

      cursor: pointer;
      transition: all 0.2s;
    }

    &#{&}--collapsed#{&}--pushable {
      // left: 0;

      & + .layout,
      & + .layout__content {
        left: 0;
      }
    }

    &#{&}--pushable {
      position: relative;
      // left: -200px;

      & + .layout,
      & + .layout__content {
        flex: 0 0 100%;
        transition: all 0.2s;
        position: relative;
        // left: -200px;
      }
    }

    &__zero-width {
      & > * {
        overflow: hidden;
      }

      &--trigger {
        position: absolute;
        top: $layout-header-height;
        right: -$layout-zero-trigger-width;

        width: $layout-zero-trigger-width;
        height: $layout-zero-trigger-height;
        border-radius: 0 $border-radius-base $border-radius-base 0;

        color: $layout-trigger-color;
        background: $layout-sidebar-background;

        font-size: $layout-zero-trigger-width / 2;
        line-height: $layout-zero-trigger-height;
        text-align: center;

        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: tint($layout-sidebar-background, 10%);
        }

        &--right {
          left: -$layout-zero-trigger-width;
        }
      }
    }
  }
}

.#{$layout-prefix} {
  &__sidebar {
    &--light {
      background: $layout-sidebar-background-light;
    }

    &--light &--trigger {
      color: $layout-trigger-color-light;
      background: $layout-trigger-background-light;
    }

    &--light &__zero-width--trigger {
      color: $layout-trigger-color-light;
      background: $layout-trigger-background-light;
    }
  }
}
