/* Variables */
@import "./custom-colors";

$enable-shadow: false;
$enable-rounded: false;

$border-radius: 3px;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Poppins", Roboto,
  "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$rfs-rem-value: 13;

$btn-padding-y: 0.65rem;
$btn-padding-x: 1rem;

$input-padding-x: 1rem;
$input-padding-y: 0.65rem;

$input-padding-x-sm: 1rem;
$input-padding-y-sm: 0.5rem;

$input-padding-x-lg: 1.65rem;
$input-padding-y-lg: 1.15rem;

$input-size-sm: 0.875rem;

$input-focus-border-color: $indigo;
$input-btn-focus-width: 2px;

/* Overriding CSS */
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@import "../vendors/bootstrap/scss/bootstrap";

html {
  font-size: 81.25%;

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
}

@mixin badge-variant-alt($bg, $color) {
  color: $color;
  background-color: $bg;

  @at-root a#{&} {
    @include hover-focus {
      color: color-yiq($color);
      background-color: darken($color, 10%);
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $badge-focus-width rgba($color, 0.5);
    }
  }
}

@each $color, $value in $theme-colors {
  .badge-alt-#{$color} {
    @include badge-variant-alt(rgba($value, 0.1), $value);
  }
}

.badge-pill {
  border-radius: 2rem;
}

.br-0 {
  border-radius: 0 !important;
}

.modal .modal-content .modal-header .close {
  outline: none !important;
  color: inherit;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: $primary;
  }
}

.list-group {
  &.list-group-flush {
    .list-group-item {
      border: none;
      margin: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.125);

      &:first-child {
        border-top: none;
      }
    }
  }

  &.relaxed {
    .list-group-item {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &.very {
      .list-group-item {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
      }
    }
  }
}

.alert {
  display: flex;
  align-items: stretch;

  & .alert-icon {
    display: flex;
    padding-right: 1.25rem;
  }

  & .alert-text {
    flex-grow: 1;
    align-items: center;
  }

  & .alert-close {
    display: flex;
    justify-content: flex-end;
    padding-left: 1rem;
  }
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(rgba($value, 0.1), rgba($value, 0.15), $value);

    & .alert-close .close {
      &:hover {
        color: $value;
      }
    }
  }
}

.list-group-item-action {
  cursor: pointer;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn.disabled {
  cursor: not-allowed;
}

.text-pre-wrap {
  white-space: pre-wrap !important;
}
