.modal-open .modal:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.75);
}

.modal-open .modal:hover::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
}

.modal-open .modal .modal-body:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}

.modal-open .modal .modal-body:hover::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=styles.css.map */