.modal-open {
  .modal {
    &:hover {
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.75);
      }

      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.25);
      }
    }

    .modal-body {
      &:hover {
        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.25);
        }

        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
