.signin {
  width: 360px;
}

.signin__logo {
  width: 110px;
}

.signin__input + .signin__input {
  margin-top: 1em;
}

.signin-container .signin-header {
  margin-top: 2rem;
  padding-bottom: 6rem;
  background: linear-gradient(to right, #49bfcf, #01b9ad);
  background-clip: text;
  color: transparent;
  font-size: 3.25rem;
  font-weight: 700;
}

.signin-btn {
  background-color: #0175e7;
  background: linear-gradient(to right, #49bfcf, #01b9ad);
  border-color: unset !important;
}

.signin-btn--elevate {
  transition: transform 0.2s ease, box-shadow 0.2s ease-in-out;

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }

  &:hover {
    box-shadow: 0px 8px 16px 0px rgba(44, 119, 244, 0.25);
    transform: translateY(-2px);
  }
}

.signin-link {
  background: linear-gradient(to right, #49bfcf, #01b9ad);
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

.signin-bg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#01b9ad+0,56ee6b+100 */
  background: #49bfcf; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #01b9ad 0%,
    #49bfcf 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #01b9ad 0%,
    #49bfcf 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #01b9ad 0%,
    #49bfcf 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b9ad', endColorstr='#56ee6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
