.invoice--business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  width: 100%;
  font-size: 1.5rem;

  .label,
  h4,
  h5,
  th {
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    color: #2c323a;
    margin: 0;
  }

  .sub-label {
    margin-bottom: 5px;
  }

  h4,
  .company-name {
    margin-bottom: 0.66667em;
  }

  p {
    font-weight: 300;
    font-size: 0.85em;
    color: #2c323a;
    line-height: 1.75;
    margin: 0;
  }

  .logo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.25em;
    max-width: 300px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .w5 {
    width: 5%;
  }

  .w10 {
    width: 10%;
  }

  .w15 {
    width: 15%;
  }

  .w20 {
    width: 20%;
  }

  .w25 {
    width: 25%;
  }

  .large-mb {
    margin-bottom: 3rem;
  }

  .notes-in-between {
    font-size: 1.1rem;
  }

  .header {
    flex: 1;
    flex: none;
    display: flex;
    justify-content: space-between;

    .header--left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }

    .header--right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;

      .heading {
        margin: 0 0 10px 0;
        font-size: 2em;
        font-weight: 400;
        color: #e67e22;
        letter-spacing: 1px;

        & + h5 {
          margin-bottom: 10px;
        }
      }

      p {
        text-transform: capitalize;
      }
    }

    .company {
      margin-bottom: 1.66667em;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 1.5em;

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        border-bottom: 4px solid #eeb27d;
        padding-bottom: 0.8em;

        &:last-child {
          text-align: right;
        }
      }

      tr > td:last-child {
        text-align: right;
      }

      td {
        color: #2c323a;
        font-weight: 300;
        font-size: 1em;
        border-bottom: 2px solid #ecf1f1;
        line-height: 2;

        div {
          line-height: 1.5;
        }

        div:not(.notes) {
          line-height: 2;
        }
      }

      tfoot {
        td {
          font-weight: 400;
          font-size: 0.9em;

          &:first-child {
            border: none;
          }
        }
      }
    }
  }

  .footer {
    flex: none;

    & > div + h5 {
      margin-top: 2.25rem;
    }

    h5 {
      margin-bottom: 0.66667em;
      padding-bottom: 0.83333em;
      border-bottom: 4px solid #eeb27d;
    }

    .signature-line {
      width: 250px;
      display: inline-block;
      border-bottom: 1px solid #2c323a;
    }

    .signature-underline {
      width: 250px;
      margin-top: 20px;
      border-top: 1px solid #2c323a;
      text-align: center;
    }

    .note {
      white-space: pre-wrap;
    }
  }
}

@media print {
  .invoice--business {
    .footer * {
      break-inside: avoid;
    }

    .table-not-repeat {
      display: table-row-group;
    }
  }
}
