.invoice--business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  width: 100%;
  font-size: 1.5rem;
}

.invoice--business .label,
.invoice--business h4,
.invoice--business h5,
.invoice--business th {
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  color: #2c323a;
  margin: 0;
}

.invoice--business .sub-label {
  margin-bottom: 5px;
}

.invoice--business h4,
.invoice--business .company-name {
  margin-bottom: 0.66667em;
}

.invoice--business p {
  font-weight: 300;
  font-size: 0.85em;
  color: #2c323a;
  line-height: 1.75;
  margin: 0;
}

.invoice--business .logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.25em;
  max-width: 300px;
}

.invoice--business .logo__wrapper img {
  width: 100%;
  height: auto;
}

.invoice--business .w5 {
  width: 5%;
}

.invoice--business .w10 {
  width: 10%;
}

.invoice--business .w15 {
  width: 15%;
}

.invoice--business .w20 {
  width: 20%;
}

.invoice--business .w25 {
  width: 25%;
}

.invoice--business .large-mb {
  margin-bottom: 3rem;
}

.invoice--business .notes-in-between {
  font-size: 1.1rem;
}

.invoice--business .header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invoice--business .header .header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.invoice--business .header .header--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.invoice--business .header .header--right .heading {
  margin: 0 0 10px 0;
  font-size: 2em;
  font-weight: 400;
  color: #e67e22;
  letter-spacing: 1px;
}

.invoice--business .header .header--right .heading + h5 {
  margin-bottom: 10px;
}

.invoice--business .header .header--right p {
  text-transform: capitalize;
}

.invoice--business .header .company {
  margin-bottom: 1.66667em;
}

.invoice--business .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.invoice--business .content table {
  width: 100%;
  border-collapse: collapse;
}

.invoice--business .content table th {
  border-bottom: 4px solid #eeb27d;
  padding-bottom: 0.8em;
}

.invoice--business .content table th:last-child {
  text-align: right;
}

.invoice--business .content table tr > td:last-child {
  text-align: right;
}

.invoice--business .content table td {
  color: #2c323a;
  font-weight: 300;
  font-size: 1em;
  border-bottom: 2px solid #ecf1f1;
  line-height: 2;
}

.invoice--business .content table td div {
  line-height: 1.5;
}

.invoice--business .content table td div:not(.notes) {
  line-height: 2;
}

.invoice--business .content table tfoot td {
  font-weight: 400;
  font-size: 0.9em;
}

.invoice--business .content table tfoot td:first-child {
  border: none;
}

.invoice--business .footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.invoice--business .footer > div + h5 {
  margin-top: 2.25rem;
}

.invoice--business .footer h5 {
  margin-bottom: 0.66667em;
  padding-bottom: 0.83333em;
  border-bottom: 4px solid #eeb27d;
}

.invoice--business .footer .signature-line {
  width: 250px;
  display: inline-block;
  border-bottom: 1px solid #2c323a;
}

.invoice--business .footer .signature-underline {
  width: 250px;
  margin-top: 20px;
  border-top: 1px solid #2c323a;
  text-align: center;
}

.invoice--business .footer .note {
  white-space: pre-wrap;
}

@media print {
  .invoice--business .footer * {
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
  }
  .invoice--business .table-not-repeat {
    display: table-row-group;
  }
}
/*# sourceMappingURL=styles.css.map */