.cust-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cust-checkbox.cust-checkbox--disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.cust-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.cust-checkbox > input:checked ~ span {
  border: 1px solid #c8cfdd;
  background: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cust-checkbox > input:checked ~ span::after {
  display: block;
}

.cust-checkbox > input:disabled ~ span {
  opacity: 0.6;
  pointer-events: none;
}

.cust-checkbox > input:disabled ~ span::after {
  border-color: #c8cfdd;
}

.cust-checkbox > span {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #d1d7e2;
  background: none;
}

.cust-checkbox > span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 5px;
  height: 10px;
  margin-left: -2px;
  margin-top: -6px;
  border-width: 0 2px 2px 0 !important;
  border: solid #bfc7d7;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cust-checkbox:hover > input:not([disabled]):checked ~ span,
.cust-checkbox > input:checked ~ span {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cust-checkbox.cust-checkbox--solid:hover > input:not([disabled]) ~ span,
.cust-checkbox.cust-checkbox--solid > input:focus ~ span {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cust-checkbox.cust-checkbox--solid > span {
  border: 1px solid transparent;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--solid > span::after {
  border: solid #99a6bf;
}

.cust-checkbox.cust-checkbox--square > span {
  border-radius: 0;
}

.cust-checkbox.cust-checkbox--bold > span {
  border-width: 2px !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cust-checkbox.cust-checkbox--bold > input:checked ~ span {
  border: 2px solid #c8cfdd;
}

.cust-checkbox.cust-checkbox--single {
  width: 18px;
  height: 18px;
}

.cust-checkbox.cust-checkbox--single > span {
  top: 0;
}

.cust-checkbox.cust-checkbox--disabled {
  opacity: 0.7;
}

.cust-checkbox.cust-checkbox--tick > span {
  background: #e4e8ee;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--tick > span::after {
  border: solid #99a6bf;
}

.cust-checkbox.cust-checkbox--tick > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--tick > input:checked ~ span {
  border: 1px solid transparent !important;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--tick > input:checked ~ span::after {
  border: solid #dee2ea;
}

.form-inline .cust-checkbox {
  margin-left: 15px;
  margin-right: 15px;
}

th > .cust-checkbox.cust-checkbox--single,
td > .cust-checkbox.cust-checkbox--single {
  right: -5px;
}

.input-group .cust-checkbox {
  margin-bottom: 0 !important;
  padding-left: 0;
}

.cust-checkbox-list {
  padding: 0 0;
}

.cust-checkbox-list .cust-checkbox {
  display: block;
  text-align: left;
}

.cust-checkbox-list .cust-checkbox:last-child {
  margin-bottom: 5px;
}

.form-horizontal .form-group .cust-checkbox-list {
  padding-top: 0;
}

.cust-checkbox-inline {
  padding: 0 0;
}

.cust-checkbox-inline .cust-checkbox {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
}

.cust-checkbox-inline .cust-checkbox:last-child {
  margin-right: 0;
}

.form-group.row .cust-checkbox-inline {
  margin-top: 0.75rem;
}

.form-group.row .cust-checkbox-list {
  margin-top: 2px;
}

.cust-checkbox.cust-checkbox--primary > span {
  border: 1px solid #2c77f4;
}

.cust-checkbox.cust-checkbox--primary > span::after {
  border: solid #2c77f4;
}

.cust-checkbox.cust-checkbox--primary > input:disabled ~ span {
  opacity: 0.6;
}

.cust-checkbox.cust-checkbox--primary > input:disabled ~ span::after {
  border-color: #2c77f4;
}

.cust-checkbox.cust-checkbox--primary > input:checked ~ span {
  border: 1px solid #2c77f4;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--bold > input:checked ~ span {
  border: 2px solid #2c77f4;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--solid > span {
  background: #2c77f4;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--solid > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--solid > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--solid > input:checked ~ span {
  background: #2c77f4;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--tick > span {
  background: #e4e8ee;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--tick > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--tick > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--tick > input:checked ~ span {
  border: 1px solid transparent !important;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--primary.cust-checkbox--tick > input:checked ~ span::after {
  border: solid #2c77f4;
}

.cust-checkbox.cust-checkbox--secondary > span {
  border: 1px solid #6c757d;
}

.cust-checkbox.cust-checkbox--secondary > span::after {
  border: solid #6c757d;
}

.cust-checkbox.cust-checkbox--secondary > input:disabled ~ span {
  opacity: 0.6;
}

.cust-checkbox.cust-checkbox--secondary > input:disabled ~ span::after {
  border-color: #6c757d;
}

.cust-checkbox.cust-checkbox--secondary > input:checked ~ span {
  border: 1px solid #6c757d;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--bold > input:checked ~ span {
  border: 2px solid #6c757d;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--solid > span {
  background: #6c757d;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--solid > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--solid > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--solid > input:checked ~ span {
  background: #6c757d;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--tick > span {
  background: #e4e8ee;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--tick > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--tick > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--tick > input:checked ~ span {
  border: 1px solid transparent !important;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--secondary.cust-checkbox--tick > input:checked ~ span::after {
  border: solid #6c757d;
}

.cust-checkbox.cust-checkbox--success > span {
  border: 1px solid #0abb87;
}

.cust-checkbox.cust-checkbox--success > span::after {
  border: solid #0abb87;
}

.cust-checkbox.cust-checkbox--success > input:disabled ~ span {
  opacity: 0.6;
}

.cust-checkbox.cust-checkbox--success > input:disabled ~ span::after {
  border-color: #0abb87;
}

.cust-checkbox.cust-checkbox--success > input:checked ~ span {
  border: 1px solid #0abb87;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--bold > input:checked ~ span {
  border: 2px solid #0abb87;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--solid > span {
  background: #0abb87;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--solid > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--solid > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--solid > input:checked ~ span {
  background: #0abb87;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--tick > span {
  background: #e4e8ee;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--tick > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--tick > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--tick > input:checked ~ span {
  border: 1px solid transparent !important;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--success.cust-checkbox--tick > input:checked ~ span::after {
  border: solid #0abb87;
}

.cust-checkbox.cust-checkbox--info > span {
  border: 1px solid #5578eb;
}

.cust-checkbox.cust-checkbox--info > span::after {
  border: solid #5578eb;
}

.cust-checkbox.cust-checkbox--info > input:disabled ~ span {
  opacity: 0.6;
}

.cust-checkbox.cust-checkbox--info > input:disabled ~ span::after {
  border-color: #5578eb;
}

.cust-checkbox.cust-checkbox--info > input:checked ~ span {
  border: 1px solid #5578eb;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--bold > input:checked ~ span {
  border: 2px solid #5578eb;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--solid > span {
  background: #5578eb;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--solid > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--solid > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--solid > input:checked ~ span {
  background: #5578eb;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--tick > span {
  background: #e4e8ee;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--tick > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--tick > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--tick > input:checked ~ span {
  border: 1px solid transparent !important;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--info.cust-checkbox--tick > input:checked ~ span::after {
  border: solid #5578eb;
}

.cust-checkbox.cust-checkbox--warning > span {
  border: 1px solid #ffb822;
}

.cust-checkbox.cust-checkbox--warning > span::after {
  border: solid #ffb822;
}

.cust-checkbox.cust-checkbox--warning > input:disabled ~ span {
  opacity: 0.6;
}

.cust-checkbox.cust-checkbox--warning > input:disabled ~ span::after {
  border-color: #ffb822;
}

.cust-checkbox.cust-checkbox--warning > input:checked ~ span {
  border: 1px solid #ffb822;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--bold > input:checked ~ span {
  border: 2px solid #ffb822;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--solid > span {
  background: #ffb822;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--solid > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--solid > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--solid > input:checked ~ span {
  background: #ffb822;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--tick > span {
  background: #e4e8ee;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--tick > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--tick > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--tick > input:checked ~ span {
  border: 1px solid transparent !important;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--warning.cust-checkbox--tick > input:checked ~ span::after {
  border: solid #ffb822;
}

.cust-checkbox.cust-checkbox--danger > span {
  border: 1px solid #dc3545;
}

.cust-checkbox.cust-checkbox--danger > span::after {
  border: solid #dc3545;
}

.cust-checkbox.cust-checkbox--danger > input:disabled ~ span {
  opacity: 0.6;
}

.cust-checkbox.cust-checkbox--danger > input:disabled ~ span::after {
  border-color: #dc3545;
}

.cust-checkbox.cust-checkbox--danger > input:checked ~ span {
  border: 1px solid #dc3545;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--bold > input:checked ~ span {
  border: 2px solid #dc3545;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--solid > span {
  background: #dc3545;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--solid > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--solid > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--solid > input:checked ~ span {
  background: #dc3545;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--tick > span {
  background: #e4e8ee;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--tick > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--tick > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--tick > input:checked ~ span {
  border: 1px solid transparent !important;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--danger.cust-checkbox--tick > input:checked ~ span::after {
  border: solid #dc3545;
}

.cust-checkbox.cust-checkbox--light > span {
  border: 1px solid #f8f9fa;
}

.cust-checkbox.cust-checkbox--light > span::after {
  border: solid #f8f9fa;
}

.cust-checkbox.cust-checkbox--light > input:disabled ~ span {
  opacity: 0.6;
}

.cust-checkbox.cust-checkbox--light > input:disabled ~ span::after {
  border-color: #f8f9fa;
}

.cust-checkbox.cust-checkbox--light > input:checked ~ span {
  border: 1px solid #f8f9fa;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--bold > input:checked ~ span {
  border: 2px solid #f8f9fa;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--solid > span {
  background: #f8f9fa;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--solid > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--solid > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--solid > input:checked ~ span {
  background: #f8f9fa;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--tick > span {
  background: #e4e8ee;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--tick > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--tick > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--tick > input:checked ~ span {
  border: 1px solid transparent !important;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--light.cust-checkbox--tick > input:checked ~ span::after {
  border: solid #f8f9fa;
}

.cust-checkbox.cust-checkbox--dark > span {
  border: 1px solid #343a40;
}

.cust-checkbox.cust-checkbox--dark > span::after {
  border: solid #343a40;
}

.cust-checkbox.cust-checkbox--dark > input:disabled ~ span {
  opacity: 0.6;
}

.cust-checkbox.cust-checkbox--dark > input:disabled ~ span::after {
  border-color: #343a40;
}

.cust-checkbox.cust-checkbox--dark > input:checked ~ span {
  border: 1px solid #343a40;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--bold > input:checked ~ span {
  border: 2px solid #343a40;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--solid > span {
  background: #343a40;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--solid > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--solid > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--solid > input:checked ~ span {
  background: #343a40;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--tick > span {
  background: #e4e8ee;
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--tick > span::after {
  border: solid #ffffff;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--tick > input:focus ~ span {
  border: 1px solid transparent !important;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--tick > input:checked ~ span {
  border: 1px solid transparent !important;
  background: #e4e8ee;
}

.cust-checkbox.cust-checkbox--dark.cust-checkbox--tick > input:checked ~ span::after {
  border: solid #343a40;
}
/*# sourceMappingURL=style.css.map */