@import "../global/all";

.cust-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;

  &.cust-checkbox--disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }

  & > input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ span {
      border: 1px solid #c8cfdd;
      background: none;
      transition: all 0.3s ease;

      &::after {
        display: block;
      }
    }

    &:disabled ~ span {
      opacity: 0.6;
      pointer-events: none;

      &::after {
        border-color: #c8cfdd;
      }
    }
  }

  & > span {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #d1d7e2;
    background: none;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      width: 5px;
      height: 10px;
      margin-left: -2px;
      margin-top: -6px;
      border-width: 0 2px 2px 0 /*rtl:ignore*/ !important;
      border: solid #bfc7d7;
      transform: rotate(45deg) /*rtl:ignore*/;
    }
  }

  &:hover > input:not([disabled]):checked ~ span,
  & > input:checked ~ span {
    transition: all 0.3s ease;
  }

  &.cust-checkbox--solid {
    &:hover > input:not([disabled]) ~ span,
    & > input:focus ~ span {
      transition: all 0.3s ease;
    }

    & > span {
      border: 1px solid transparent;
      background: #e4e8ee;

      &::after {
        border: solid #99a6bf;
      }
    }
  }

  &.cust-checkbox--square {
    & > span {
      border-radius: 0;
    }
  }

  &.cust-checkbox--bold {
    & > span {
      border-width: 2px !important;
      transition: all 0.3s ease;
    }

    & > input:checked ~ span {
      border: 2px solid #c8cfdd;
    }
  }

  &.cust-checkbox--single {
    width: 18px;
    height: 18px;

    & > span {
      top: 0;
    }
  }

  &.cust-checkbox--disabled {
    opacity: 0.7;
  }

  &.cust-checkbox--tick {
    & > span {
      background: #e4e8ee;
      border: 1px solid transparent !important;

      &::after {
        border: solid #99a6bf;
      }
    }

    & > input {
      &:focus ~ span {
        border: 1px solid transparent !important;
      }

      &:checked ~ span {
        border: 1px solid transparent !important;
        background: #e4e8ee;

        &::after {
          border: solid #dee2ea;
        }
      }
    }
  }
}

.form-inline .cust-checkbox {
  margin-left: 15px;
  margin-right: 15px;
}

th > .cust-checkbox.cust-checkbox--single,
td > .cust-checkbox.cust-checkbox--single {
  right: -5px;
}

.input-group .cust-checkbox {
  margin-bottom: 0 !important;
  padding-left: 0;
}

.cust-checkbox-list {
  padding: 0 0;

  & .cust-checkbox {
    display: block;
    text-align: left;

    &:last-child {
      margin-bottom: 5px;
    }
  }
}

.form-horizontal .form-group .cust-checkbox-list {
  padding-top: 0;
}

.cust-checkbox-inline {
  padding: 0 0;

  & .cust-checkbox {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form-group.row .cust-checkbox-inline {
  margin-top: 0.75rem;
}

.form-group.row .cust-checkbox-list {
  margin-top: 2px;
}

@each $color, $value in $theme-colors {
  .cust-checkbox.cust-checkbox--#{$color} {
    & > span {
      border: 1px solid $value;

      &::after {
        border: solid $value;
      }
    }

    & > input {
      &:disabled ~ span {
        opacity: 0.6;

        &::after {
          border-color: $value;
        }
      }

      &:checked {
        & ~ span {
          border: 1px solid $value;
        }
      }
    }

    &.cust-checkbox--bold {
      & > input:checked ~ span {
        border: 2px solid $value;
      }
    }

    &.cust-checkbox--solid {
      & > span {
        background: $value;
        border: 1px solid transparent !important;

        &::after {
          border: solid #ffffff;
        }
      }

      & > input {
        &:focus ~ span {
          border: 1px solid transparent !important;
        }

        &:checked ~ span {
          background: $value;
        }
      }
    }

    &.cust-checkbox--tick {
      & > span {
        background: #e4e8ee;
        border: 1px solid transparent !important;

        &::after {
          border: solid #ffffff;
        }
      }

      & > input {
        &:focus ~ span {
          border: 1px solid transparent !important;
        }

        &:checked ~ span {
          border: 1px solid transparent !important;
          background: #e4e8ee;

          &::after {
            border: solid $value;
          }
        }
      }
    }
  }
}
