.image-uploader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 240px;
  padding: 15px;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);

  .drop-zone {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;
    justify-content: center;
  }

  .display-zone {
    max-width: 200px;
    max-height: 200px;
    display: flex;

    img {
      width: 100%;
      height: auto;
    }
  }

  .upload-btn {
    font-size: 1.25rem;
  }

  .remove-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 50%;

    i {
      color: #fff;
      font-weight: bolder;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .hidden-input-style {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
  }
}
