.image-uploader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  width: 240px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.image-uploader .drop-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-uploader .display-zone {
  max-width: 200px;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-uploader .display-zone img {
  width: 100%;
  height: auto;
}

.image-uploader .upload-btn {
  font-size: 1.25rem;
}

.image-uploader .remove-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
}

.image-uploader .remove-btn i {
  color: #fff;
  font-weight: bolder;
}

.image-uploader .remove-btn:hover {
  cursor: pointer;
}

.image-uploader .hidden-input-style {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}
/*# sourceMappingURL=styles.css.map */