html body.swal-modal-height-fix.swal2-height-auto {
  height: 100% !important;
}

.swal2-content.content-wrapper #swal2-content {
  white-space: pre-wrap;
}

.no-overflow-x {
  overflow-x: hidden !important;
}

.global-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
