html body.swal-modal-height-fix.swal2-height-auto {
  height: 100% !important;
}

.swal2-content.content-wrapper #swal2-content {
  white-space: pre-wrap;
}

.no-overflow-x {
  overflow-x: hidden !important;
}

.global-loader {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */